.sidebar-container {
    background-color: orange;
    height: 100vh; /* Memastikan sidebar memenuhi tinggi viewport */
    padding: 1rem;
    color: white; /* Untuk memastikan teks terlihat dengan baik */
    position: absolute; /* Memungkinkan pengaturan posisi relatif terhadap viewport */
    top: 145px; /* Mengatur jarak dari atas, dinaikkan dari 10px ke 20px */
    left: 0px; /* Mengatur jarak dari kiri */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk estetika */
    border-radius: 8px; /* Menambahkan sudut melengkung */
  }
  
  .navbar {
    background: transparent; /* Jangan timpa warna latar belakang sidebar */
  }
  
  .nav-link {
    color: white; /* Teks berwarna putih */
    font-weight: bold; /* Menonjolkan teks */
    margin-bottom: 0.5rem; /* Jarak antar link */
  }
  
  .nav-link:hover {
    color: #ffd700; /* Warna kuning keemasan saat hover */
    text-decoration: none;
  }
  