/* Sidebar di sisi kiri */
.Navbar {
  position: fixed;
  top: 0;
  left: 0; /* Sidebar tetap di kiri */
  height: 100vh; /* Sidebar sepanjang layar */
  width: 250px; /* Lebar sidebar */
  padding: 0;
  z-index: 1000; /* Agar sidebar berada di atas konten lainnya */
  background-color: #495057; /* Warna latar belakang sidebar */
  border-right: 2px solid #ffffff; /* Pembatas antara sidebar dan konten */
}

/* Gaya untuk bagian brand (logo dan nama) */
.Navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px 10px;
  font-size: 1.25rem;
  color: #fff;
  border-bottom: 1px solid #868d94; /* Border di bawah area brand */
}

/* Gaya untuk gambar logo di dalam bagian brand */
.Navbar .navbar-brand img {
  margin-right: 10px;
  width: 30px; /* Ukuran logo */
  height: 30px;
}

/* Gaya untuk item navigasi */
.Nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0;
  justify-content: flex-start; /* Elemen navigasi rata kiri */
}

/* Setiap item nav mengambil seluruh lebar */
.Nav .nav-item {
  width: 100%;
}

/* Gaya untuk link di dalam nav */
.Nav .nav-link {
  padding: 10px 20px;
  color: #ccc;
  font-size: 1rem;
  border-bottom: 1px solid #495057; /* Border bawah pada link */
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: left; /* Teks link rata kiri */
}

/* Efek hover untuk link */
.Nav .nav-link:hover {
  background-color: #495057;
  color: #8194a7;
}

/* Memberikan ruang untuk konten agar tidak tertutupi sidebar */
body {
  margin-left: 250px; /* Ruang di kiri untuk sidebar */
  font-family: Arial, sans-serif;
  background-color: #daab7c; /* Warna latar belakang konten */
}