/* TransferBank.css */

/* Layout umum */
.container-fluid {
    background-color: #5C828A; /* Warna latar belakang utama */
  }
  
  .nav-item .nav-link {
    color: #ffffff;
    font-weight: bold;
  }
  
  .confirmation-section {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation-details {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    font-size: 0.9rem;
  }
  
  /* Styling button */
  button {
    border-radius: 5px;
  }
  
  button:link,
  button:visited {
    text-decoration: none;
    color: inherit;
  }
  
  .btn-secondary {
    background-color: #5C828A;
    color: #fff;
    border: none;
  }
  
  button.btn-primary {
    background-color: #333;
    color: #fff;
    border: none;
  }
  
  button.btn-primary:hover {
    background-color: #444;
  }
  
  button.btn-secondary:hover {
    background-color: #4A6B74;
  }
  
  /* Tombol Batal dan Ok */
  .btn-outline-secondary {
    border-color: #ccc;
    color: #666;
  }
  
  .btn-outline-secondary:hover {
    background-color: #ccc;
    color: #333;
  }
  
  .total-pesanan {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .pesan-btn {
    background-color: #5C828A;
    color: #fff;
  }
  
  /* Upload bukti transfer button */
  button.mt-3 {
    width: 100%;
    background-color: #5C828A;
    color: #fff;
  }
  